.ant-collapse {
  margin-bottom: 1rem;
  width: 60%;
}

.item-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: 100%;
  font-size: 16px;
}

.header-grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 14px;
  width: 100%;
  font-size: 16px;
}

.zone-title {
  font-weight: 600;
}

.status-text {
  font-size: 14px;
  color: #22c55e;
}

.bi-circle-fill {
  font-size: 14px;
}

.status-circle-ok {
  color: #22c55e;
}
